########################################
# CONFIGURATION FILES
# We never want to track these because they are created at install

system/application/config/config.php
system/application/config/database.php
system/application/config/macaw.php
# system/application/config/virtual_items
system/application/config/virtual_items/*
!system/application/config/virtual_items/sample-config.php

########################################
# PLUGINS
# We ignore everything, then un-ignore those that we want in git

plugins/export/*
plugins/import/*
plugins/metadata/*
!plugins/export/export.default.php
!plugins/export/Internet_archive.php
!plugins/import/import.default.php
!plugins/metadata/_metadata-sample.js
!plugins/metadata/_metadata-sample.php
!plugins/metadata/Generic.js
!plugins/metadata/Generic.php
!plugins/metadata/Standard_Metadata.js
!plugins/metadata/Standard_Metadata.php
!plugins/import/Virtual_items.php

########################################
# DATA DIRECTORIES
# These are also created when we install 
books
logs
incoming
system/application/logs
system/application/logs/books

########################################
# VS CODE
.vscode

